<div id="footer"> Copyright© 2012 
    <a href="index.html">よりよいライフスタイルを提案する<%= title %></a> All Rights Reserved.<br>
    <!--
        <span class="pr">
            <a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a>
        </span>
        ＆<span class="pr">
            <a href="http://www.crytus.co.jp/" target="_blank">Simple Slide Show:Crytus</a>
        </span>
    -->
</div>

