        <div id="container">
            <div id="header">
                <h1><a href="index.html"><%= title %></a></h1>
                <p id="login">
                    <a href="#">ログイン</a>
                </p>
                <ul id="menu">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">EVENTS</a></li>
                    <li><a href="shopping.html">HOT WORDS</a></li>
                    <li><a href="soldout.html">GUIDE</a></li>
                    <li><a href="link.html">SUPPORT</a></li>
                </ul>
            </div>
